@model IEnumerable<AgriEnergy.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<!-- AOS CSS -->
<link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet" />

<br />
<br />
<h1 data-aos="fade-down">Our Categories</h1>
<br />
<br />
<br />
<br />
<div class="card-container">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Details", "Category", new { id = item.CategoryId })" class="card"
            style="background-image: url('@item.ImageUrl')" data-aos="zoom-in" data-aos-delay="100">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.CategoryName)</h5>
            </div>
        </a>
    }
</div>

<!-- AOS JS -->
<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
<script>
    AOS.init({
        duration: 1000,
        once: true
    });
</script>

<style>
    h1 {
        color: darkorange;
        font-weight: 700;
        font-size: 50px;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .card {
        text-decoration: none;
        color: inherit;
        border: 1px solid #ddd;
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        width: 400px;
        height: 300px;
        transition: all 0.3s ease;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .card::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        filter: blur(5px);
        z-index: 1;
    }

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: black;
    }

    .card-body {
        position: relative;
        z-index: 2;
        text-align: center;
        color: white;
    }

    .card-title {
        margin: 0;
        padding-top: 84px;
        font-size: 55px;
        color: black;
        text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    }

    body {
        background-image: url('https://images.rawpixel.com/image_1300/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA2L3YxMTYtYWdyaWN1bHR1cmUtMDJlXzEuanBn.jpg');
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
</style>
